<!DOCTYPE html>
<!-- Estructura de la página de creación de anves -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Registro de naves</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Control de naves</a> <!-- Link que regresa a la página principal -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/nuevo">Agregar nave</a></li> <!-- Link que permite crear y agreagar una nave -->
				</ul>
			</div>
		</div>
	</nav>
	<br>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-ld-6 col-sl-6 container justify-content-center card">
				<h1 class="text-center">Registro de nave</h1>
				<div class="card-body">
					<form th:action="@{/guardar}" th:object="${nave}" method="post">
					<!-- Formulario de creación de la nave -->
						<div class="form-group">
							<label>Nombre: </label> <input type="text" name="nombre"
								th:field="*{nombre}" class="form-control"
								placeholder="Digite el nombre de la nave" required>
						</div>
						<div class="form-group">
							<label>Tipo de nave: </label> <select th:field="*{tipo}" required>
								<option th:each="tipo:${listaTipos}" th:value="${tipo.id}"
									th:text="${tipo.tipoNave}" />
							</select>
						</div>
						<div class="form-group">
							<label>Combustible: </label> <select th:field="*{combustible}"
								required>
								<option th:each="combustible:${listaCombustibles}"
									th:value="${combustible.id}"
									th:text="${combustible.tipoCombustible}" />
							</select>
						</div>
						<div class="form-group">
							<label>País de origen: </label> <input type="text"
								name="paisOrigen" th:field="*{paisOrigen}" class="form-control"
								placeholder="Digite el país de origen de la nave" required>
						</div>
						<div class="form-group">
							<label>Altura (en metros): </label> <input type="number"
								name="altura" th:field="*{altura}" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Peso (en kilos): </label> <input type="number" name="peso"
								th:field="*{peso}" class="form-control" required>
						</div>
						<div class="box-footer">
							<button class="btn btn-success">Guardar</button> <!-- Botón que guarda la información dada antes -->
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"></script>
</body>
</html>